@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,100;1,300&display=swap');
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}
body {
  background-color: #ededed;
  font-family: 'Montserrat', sans-serif;
}
.container {
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-search {
  height: 20%;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search {
  height: 50%;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-contador {
    display: flex;
    padding-top: 20px;
    gap: 10px;
}

.container_realState {
  height: auto;
  display: flex;
}
.realState-card {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  height: 350px;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  border-radius: 0;
}

.card-img,
.card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card .titulo {
  font-size: 11px;
  font-weight: 700;
  color: rgba(0,0,0,.8);
}

.card .subtitulo {
    font-size: 13px;
    font-weight: 700;
  }
  
.card .description {
    color: rgba(0,0,0,.45);
}